body { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body * { padding: 0; margin: 0; box-sizing: border-box; }
h1 {font-size: 30px; font-weight: 700;}
h2 {font-size: 24px;}
h3 {font-size: 20px; margin-bottom: 10px; }
h4 {font-size: 16px; }
h5 {font-size: 16px; font-weight: 500;}
p {font-size: 14px;}
img { max-width: 100%;}
.relative { position: relative;}
.absolute { position: absolute;}
.opacity-0 { opacity: 0;}

.flex { display: flex;}
.block { display: block;}
.items-center { align-items: center; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center;}
.justify-end { justify-content: flex-end;}
.flex-col { flex-direction: column; }
.w-full { width: 100%; }
.h-full { height: 100%; }
.pointer-events-none { pointer-events: none;}
.uppercase { text-transform: uppercase;}
.mt-0 { margin-top: 0;}
.white { color: white;}
.black { color: black;}
.main-padding-y {padding: 2.5rem 0;}
.mr-10 { margin-right: 10px;}
.mr-30 { margin-right: 30px;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.max-width {
    margin: auto;
    width: 92%;
    max-width: 1300px;
}
.w-full-mobile { width: 100%;}
header {
    height: 5rem;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}
.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}
.logo { height: 5rem;}
.logo img { width: 9.5rem; height: 5rem; object-fit: cover;}
.menu {
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: absolute;
    top: 5rem;
    margin: 0;
    right: 0;
    padding: 1.5rem;
    transform: translateX(calc(100% + 5px));
    transition: 0.5s ease-in-out;
    background-color: white;
    width: 60%;
    height: calc(100vh - 5rem);
    box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.1);
}
.open .menu { 
    transform: translateX(0);
}
.menu a, .btn a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 2.5rem 0;
}
.menu .btn {
    margin-top: 2.5rem;
}
.btn {
    background-color: #8F6E5D;
    border: 2px solid #8F6E5D;
    border-radius: 6px;
    padding: 6px 15px;
    font-family: 'Poppins';
    text-transform: uppercase;
}
.btn a {
    color: white;
}
.btn:hover {
 background-color: white;
}
.btn:hover a {
    color: #8F6E5D;
}
.btn.suna { 
    margin-top: 20px;
}
.hamburger-lines {
    width: 2rem;
    height: 1.5rem;
}

.line { 
    transition: transform 0.5s ease-in-out;
    border-radius: 0.25rem;
    height: 3px;
    background-color: black;
    width: 100%;
    display: block;
}
.line:first-child {
    transform-origin: top left;
    transition-duration: 500ms;
}
.line:nth-child(2) {
    transition-duration: 300ms;
}
.line:last-child {
    transform-origin: bottom left;
    transition-duration: 500ms;
}
.open .line:first-child {
    transform: rotate(45deg);
}
.open .line:nth-child(2) {
    transform: scale(0);
}
.open .line:last-child {
    transform: rotate(-45deg);
}
.hero-wrapper {
    position: relative;
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    background-image: url("./images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.hero-overlay {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 5rem);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.hero-text {
    padding: 3rem;
    position: relative;
    color: white;
    text-align: center;
    height: calc(100vh - 5rem);
    max-width: 100%;
}
.hero-wrapper.small {
    height: 25rem;
}
.hero-text.small, .hero-overlay.small {
    height: 20rem;
}
.hero-wrapper.small.services {
    background-image: url("./images/services.png");
}
.hero-wrapper.small.contact {
    background-image: url("./images/contact.png");
}
.hero-wrapper.small.patients {
    background-image: url("./images/patients.png");
}

.card {
    flex: 0 0 auto; 
    padding: 15px;
    /* background-color: #f0f0f0; */
    background-color: rgba(143, 110, 93, 0.15);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
    margin: 20px 0;
}

.card img {
    width: 100%;
    border-radius: 5px;
    height: 13rem;
    object-fit: cover;
}
.card h4 { 
    margin: 0.5rem 0;
}

.my-story {
    background-color: white;
}
.highlights {
    background: black;
}
.highlights-card {
    margin: 40px 0;
}
.testimonials-card {
    background-color: #E7E1D1;
    padding: 30px 20px;
    margin: 20px 0;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.testimonials-img {
    width: 30px;
}
.story-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.story-inner p {  text-align: center;}
.my-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 10px solid rgba(143, 110, 93, 0.6);
    border-radius: 50%;
    margin: 40px;
}

footer {
    height: 17rem;
    background-color: #8F6E5D;
    display: flex;
    align-items: center;
}
.footer-top {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-top .logo {
    display: none;
}
.footer-top-pte { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-top-pte .pte-item {
    margin: 10px 0;
}
footer a {
    text-decoration: none;
    color: white;
}
.service-category {
    /* background-color: rgba(174, 157, 103, 0.3); */
    background-color: rgba(143, 110, 93, 0.15);;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
}
.service-category h3 {
    background-color: #8F6E5D;
    margin: 0;
    padding: 5px 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.service-list {
    list-style: none;
}
.service-item {
    border-bottom: 1px solid #8F6E5D;
    padding: 8px 15px;
}
.service-item:last-child {
    border: none;
}
.title-price {
    display: flex;
    justify-content: space-between;
}

.service-extra {
    font-size: 80%;
    font-weight: 600;
    font-style: italic;
    margin-top: 5px;
}
.service-price {
    min-width: 60px;
    font-weight: 700;
    text-align: end;
}
.contact-section {
    text-align: center;
}
.contact-section img {
    max-width: 15rem;
}

.patients-section,.contact-section { min-height: calc( 100vh - 42rem);}


@media screen and (min-width: 600px) {
    .carousel {
        display: flex;
        flex-wrap: wrap;
        transition: transform 0.3s ease-in-out;
        overflow-x: hidden; /* Hide overflow for non-touch devices */
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
    }
    .card {
        width: calc( 50% - 10px );
        margin: 10px 0;
    }
    .card:nth-child(odd){
        margin-right: 10px;
    }
    .card:nth-child(even){
        margin-left: 10px;
    }
    .service-extra { text-align: right;}

    footer {
        height: 16rem;
    }
}

@media screen and (min-width: 768px) {
    .menu {
        width: 50%;
    }
    .hero-wrapper { height: 55vh; }
    .hero-text,.hero-overlay { height: calc(55vh - 5rem); }
    .hero-wrapper.small { height: 30rem; }
    .hero-text.small, .hero-overlay.small { height: 25rem; }
    .patients-section, .contact-section { min-height: calc( 100vh - 46em); }
    .contact-section {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    .hero-wrapper.small { height: 40rem; }
    .hero-text.small, .hero-overlay.small { height: 35rem; }
    .patients-section, .contact-section { min-height: calc( 100vh - 55em); }
    footer { height: 15rem;}
    .xl-hidden {
        display: none;
    }
    .menu {
        position: relative;
        flex-direction: row;
        top: 0;
        padding: 0;
        width: auto;
        height: 5rem;
        transform: translateX(0%);
        box-shadow: none;
    }
    .menu a {
        margin-right: 30px;
    }
    .menu a.underlined { text-decoration: underline;}
    .menu .btn, .menu a:last-child {margin: 0;}

    .controls {
        display: block;
    }
    .highlights-inner, .testimonials-inner {
        display: flex;
        justify-content: space-between;
    }
    .highlights-card, 
    .testimonials-card {
        width: calc( 33.3% - 60px);
    }
    /* .story-inner {} */
    .footer-top { 
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-top-pte {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .footer-top-pte .pte-item {
        margin: 10px 20px;
    }
    .footer-top .logo { display: block;}
    .w-full-mobile { width: auto;}
    .card img { height: 15rem;}

    
}

@media screen and (min-width: 1280px) {
    .hero-wrapper,.hero-wrapper.small { height: 25rem;}
    .hero-text, .hero-overlay,.hero-text.small, .hero-overlay.small { height: 20rem; }

    .patients-section, .contact-section { min-height: calc( 100vh - 35em); }
    footer { height: 10rem;}

    .card {
        width: calc( 25% - 20px );
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .card:last-child {
        margin-right: 0;
    }
    .card img { height: 12rem;}

    .footer-top {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-top-pte .pte-item:last-child {
        margin: 10px 0px 10px 20px;
    }
    .story-inner {
        flex-direction: row;
    }
    .story-inner p:first-child { text-align: right;}
    .story-inner p:last-child { text-align: left;}

    .contact-section img {
        width: 12rem;
        object-fit: cover;
    }
    .service-category { margin-bottom: 2.5rem;}
}